
<title>Roles </title>


<h4 class="page-title mt-4 text-center">Role Details</h4>
<div class="row">
    <div class="col-md-12">
        <div id="RolesGrid" class="ag-theme-quartz" style="height: 800px; width: 100%;"></div>
    </div>
</div>
<!-- Add Modal -->
<div class="modal fade" id="addRoleModal" tabindex="-1" role="dialog" aria-labelledby="addRoleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addRoleModalLabel">Add Role</h5>
                <button type="button" class="close" onclick="$('#addRoleModal').modal('hide')" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="formAddRole" data-parsley-validate>
                    <div class="mb-3">
                        <label for="roleName" class="form-label">Name</label>
                        <input type="text" class="form-control" id="RoleName" placeholder="Enter Role Name" name="RoleName" required data-parsley-required-message="Name is required">
                    </div>

                    <div class="row mb-3">
                        <div class="col-4">
                            <label class="form-label">Is Active</label>
                        </div>

                        <div class="col-auto">
                            <input class="form-check-input" type="radio" name="IsActive" id="IsActiveYes" value="true">
                            <label class="form-check-label" for="IsActiveYes">
                                Yes
                            </label>
                        </div>

                        <div class="col-auto">

                            <input class="form-check-input" type="radio" name="IsActive" id="IsActiveNo" value="false">
                            <label class="form-check-label" for="IsActiveNo">
                                No
                            </label>

                        </div>
                    </div> 

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success" id="btnAddRole"><i class="fas fa-user-plus"></i> Add Role</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



<!-- Update Modal -->
<div class="modal fade" id="updateRoleModal" tabindex="-1" role="dialog" aria-labelledby="updateRoleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateRoleModalLabel">Update Role</h5>
                <button type="button" class="close" onclick="$('#updateRoleModal').modal('hide')" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>


            <div class="modal-body">
                <form id="formUpdateRole" data-parsley-validate>
                    <input type="text" id="updatedRoleId" name="RoleId" hidden />
                    <div class="mb-3">
                        <label for="roleName" class="form-label">Name</label>
                        <input type="text" class="form-control" id="updatedRoleName" placeholder="Enter Role Name" name="RoleName" required data-parsley-required-message="Name is required">
                    </div>
                    <div class="row mb-3">
                        <div class="col-4">
                            <label class="form-label">Is Active</label>
                        </div>

                        <div class="col-auto">
                            <input class="form-check-input" type="radio" name="IsActive" id="updatedIsActiveYes" value="true">
                            <label class="form-check-label" for="updatedIsActiveYes">
                                Yes
                            </label>
                        </div>

                        <div class="col-auto">

                            <input class="form-check-input" type="radio" name="IsActive" id="updatedIsActiveNo" value="false">
                            <label class="form-check-label" for="updatedIsActiveNo">
                                No
                            </label>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success" ><i class="fas fa-user-plus"></i> Update Role</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section scriptsAfter {
    <script src="~/js/script/role.js"></script>
}





