
    <title>Employee Management</title>
    <!-- AG Grid Styles -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ag-grid/26.2.0/styles/ag-grid.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ag-grid/26.2.0/styles/ag-theme-balham.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <!-- Parsley CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/parsley.js/2.9.2/parsley.css">
    <!-- Font Awesome for icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

  
        <h4 class="page-title mt-4">EMPLOYEE DETAILS</h4>
        <div class="row">
            <div class="col-md-12">
                <div id="EmployeesGrid" class="ag-theme-balham" style="height: 400px; width: 100%;"></div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="addEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="addEmployeeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addEmployeeModalLabel">Add Employee</h5>
                <button type="button" class="close" onclick="$('#addEmployeeModal').modal('hide')" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="formAddEmployee" data-parsley-validate>
                            <div class="mb-3">
                                <label for="employeeName" class="form-label">Name</label>
                                <input type="text" class="form-control" id="employeeName" placeholder="Enter Name" name="Name" required data-parsley-required-message="Name is required">
                            </div>
                            <div class="mb-3">
                                <label for="employeeDescription" class="form-label">Description</label>
                                <input type="text" class="form-control" id="employeeDescription" placeholder="Enter Description" name="Description" required data-parsley-required-message="Description is required">
                            </div>
                            <div class="mb-3">
                                <label for="employeePhoneNumber" class="form-label">Phone Number</label>
                                <input type="text" class="form-control" id="employeePhoneNumber" placeholder="Enter Phone Number" name="PhoneNumber" required data-parsley-required-message="Phone number is required" data-parsley-pattern="^\d{10}$" data-parsley-pattern-message="Phone number must be 10 digits">
                            </div>
                            <div class="mb-3">
                                <label for="employeeEmail" class="form-label">Email</label>
                                <input type="email" class="form-control" id="employeeEmail" name="Email" placeholder="Enter Email" required data-parsley-required-message="Email is required" data-parsley-type-message="Please enter a valid email">
                            </div>
                            <div>
                                <label for="employeeAddress" class="form-label">Address</label>
                                <textarea class="form-control" rows="5" id="employeeAddress" placeholder="Please enter Address" name="Address" required data-parsley-required-message="Address is required"></textarea>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="btnCloseModal">Close</button>
                                <button type="submit" class="btn btn-success" id="btnAddEmployee"><i class="fas fa-user-plus"></i> Add Employee</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    <!-- JS Libraries -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ag-grid/26.2.0/ag-grid.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/parsley.js/2.9.2/parsley.min.js"></script>
    <script src="~/js/script/employee.js"></script>

